@font-face {
  font-family: "Forza-Thin";
  src: local("Forza-Thin"), url("../../assets/fonts/Forza-Thin.otf");
}

@font-face {
  font-family: "Forza-Bold";
  src: local("Forza-Bold"), url("../../assets/fonts/Forza-Bold.otf");
}

.bodyContainer {
  background-color: #e6e6e6;
  position: relative;
}

.appdrawerHeader > h1 {
  margin-left: 2rem;
  font-family: Forza-Thin;

  @media (min-width: 375px) and (max-width: 1000px) {
    margin-left: 1rem;
  }
}

.appsContainer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (min-width: 375px) and (max-width: 1000px) {
    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.buttonContainer > p {
  max-width: 100px;

  @media (min-width: 375px) and (max-width: 1400px) {
    max-width: 65px;
    font-size: 0.8rem;
  }
}

.buttonStyles {
  border: none;
  width: auto;
  height: auto;
  padding: 1.5rem;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @media (min-width: 375px) and (max-width: 1400px) {
    padding: 0.5rem;
    width: 50px;
    height: 50px;
  }
}

.buttonStyles:hover {
  margin-top: -1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.buttonStyles:disabled {
  margin-top: 0;
  box-shadow: none;
}

.tooltip {
  font-size: 1.5rem;
}

.tooltip:hover {
  cursor: pointer;
  color: #535353;
}

.appdrawerHeader {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.myappsdrawerHeader {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.myappsdrawerHeader > h1 {
  margin-left: 2rem;
  font-family: Forza-Thin;

  @media (min-width: 375px) and (max-width: 800px) {
    margin-left: 1rem;
  }
}
