body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif, "Forza-Medium", "Forza-Light", "Forza-Thin",
		"Forza-MediumItalic", "Forza-Black", "Forza-BlackItalic", "Forza-Bold",
		"Forza-BoldItalic", "Forza-Book", "Forza-BookItalic", "Forza-LightItalic",
		"Forza-Thin", "Forza-ThinItalic";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e6e6e6;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	font-family: Forza-Medium;
}

@font-face {
	font-family: "Forza-Medium";
	src: local("Forza-Medium"), url("./assets/fonts/Forza-Medium.otf");
}
